#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* =========================================
   ESTILOS DE SCROLLBAR MODO OSCURO (WHATSAPP)
   ========================================= */

/* 1. Ocultar la barra por completo pero permitir hacer scroll (Para las Zonas) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* 2. Scrollbar delgado y oscuro (Para listas de clientes y chats) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* Para el scroll horizontal si llega a hacer falta */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fondo transparente para que se mezcle con tu diseño */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #374045; /* Color gris oscuro (Estilo WhatsApp) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #51585c; /* Un poco más claro cuando le pasas el mouse */
}

/* Opcional: Para Firefox (Firefox no soporta todo el webkit) */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #374045 transparent;
}


